// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$openSans: 'Open Sans', sans-serif;
$robotoSlab: 'Roboto Slab', sans-serif;

// set custom colors
$primary-color: #eeeeee;
$secondary-color: #929aab;
$dark: #393e46;
$light: #f7f7f7;

// override bootstrap theme colors
$theme-colors: (
  'primary': $primary-color,
  'light': $light,
  'dark': $dark,
);

// set font family
$font-family-sans-serif: $robotoSlab;
