@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

html,
.wrap {
  background-color: $primary-color;
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.app {
  height: 100vh;
}

.done {
  text-decoration: line-through;
}

.icon:hover {
  color: red;
  cursor: pointer;
}

.todo:hover {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.todo-home {
  background-color: $dark;
  border-radius: 5px;
}

.modal-form {
  z-index: 1;
}
