@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

html,
.wrap {
  background-color: $primary-color;
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.app {
  height: 100vh;
}

.login,
.signup {
  width: 40%;
  margin-top: 50%;
  background-color: white;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.85);
}

.done {
  text-decoration: line-through;
}

.icon:hover {
  color: red;
  cursor: pointer;
}

.todo:hover {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
